body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-box {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #007bff;
}

h3 {
    margin-bottom: 15px;
    color: #007bff;
}
.login-image {
    width: 100px; 
    height: auto;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    color: #007bff;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #007bff;
}

.divider {
    margin: 20px 0;
    border-top: 1px solid #ddd;
}

